/* Global */
* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body */
body {
  font-size: 16px;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}


a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}


