.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  &-clover {
    color: var(--c-green);
    font-size: 30px;
  }
  &-article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border: 1px solid var(--c-extra-dark-grey);
    border-radius: 16px;
    margin-bottom: 30px;
  }

  &-design {
    font-size: 40px;
    color: #007ffc;
  }
  &-Ecommerce {
    font-size: 40px;
    color: var(--c-green);
  }

  &-Application {
    font-size: 40px;
    color: #007ffc;
  }
}
