.title {
  font-family: var(--f-main);
  font-size: 16px;
  color: var(--c-light-grey);
  margin-bottom: 15px;

  &-main {
    font-family: var(--f-title);
    color: var(--c-dark-violet);
    margin-bottom: 50px;

  }

}
