/* * Button для кнопок  */
.button {
  background-color: var(--c-primary);
  border: 1px solid var(--c-primary);
  transition: var(--t-normal);
  justify-content: center;
  color: var(--c-white);
  align-items: center;
  padding-right: 25px;
  border-radius: 4px;
  padding-left: 25px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  height: 45px;
  white-space: nowrap;
}

.button:hover {
  background-color: var(--c-black);
  border-color: var(--c-black);
  color: var(--c-white);
}

.button--white {
  background-color: var(--c-white);
  border-color: var(--c-blue);
  color: var(--c-black);
}

/* * background image( задній фон) */
.section {
  position: relative;
}
.tools-bg {
  position: absolute;
  bottom: 100px;
  z-index: -1;
  width: 100vw;
}

/* * для Іконок в середині блоків */

.tools-item {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.first-item {
  background-color: #7752be;
  width: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.icon {
  color: white;
  height: 50px;
  text-align: center;
  margin-bottom: 30px;
}
.tools-items-title {
  margin-bottom: 30px;
}

/* * база для банера */
.footer-links-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
/* * ТИПОВИЙ footer */
.footer-link {
  font-weight: 500;
  font-size: 1em;
  color: var(--fc-gray);
  font-weight: 500;
}
/* * contact */
.footer-contact {
  max-width: 340px;
}
.footer-text {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
}
/* * input */
.input {
  width: 100%;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #bcd0e5;
  margin-bottom: 30px;
}