/*--Warper--*/
.main-wrapper {
  background-color: var(--c-blue);
  border: 25px solid var(--c-blue1);
}

.forecast-wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.forecast-wrapper-title {
  display: block;
  font-size: 20px;
  padding-top: 70px;
  padding-bottom: 40px;
}

.forecast-wrapper-table {
  border: 2px solid var(--c-white);
  border-bottom: none;
  margin-bottom: 35px;
}


.forecast-wrapper-table-row {
  border-bottom: 2px solid var(--c-white);
}

.forecast-wrapper-table-list {
  display: flex;
}



/*--city--*/
.lisbon {
  width: 50%;
  background-color: #70b8db;
  border-right: 2px solid var(--c-white);
}

.lisbon:hover {
  text-shadow: 0px 0px 6px rgb(189, 6, 6);
  box-shadow: 0px 5px 60px -20px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.city-name {
  padding-top: 25px;
  padding-bottom: 18px;
  text-align: center;
}

.city-forecast {
  text-align: center;
  padding-bottom: 25px;
}

.paris {
  width: 25%;
  background-color: #33cccc;
  border-right: 2px solid var(--c-white);
}

.paris:hover {
  text-shadow: 0px 0px 6px rgb(189, 6, 6);
  box-shadow: 0px 5px 60px -20px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.belgrad {
  width: 25%;
  background-color: #996699;
  border-right: 2px solid var(--c-white);
}

.belgrad:hover {
  text-shadow: 0px 0px 6px rgb(189, 6, 6);
  box-shadow: 0px 5px 60px -20px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;;
}

.venice {
  width: 25%;
  background-color: #c24747;
  border-right: 2px solid var(--c-white);
}

.venice:hover {
  text-shadow: 0px 0px 6px rgb(189, 6, 6);
  box-shadow: 0px 5px 60px -20px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
.tel-aviv {
  width: 25%;
  background-color: #e2674a;
  border-right: 2px solid var(--c-white);
}
.tel-aviv:hover {
  text-shadow: 0px 0px 6px rgb(189, 6, 6);
  box-shadow: 0px 5px 60px -20px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.cair {
  width: 25%;
  background-color: #ffcc66;
  border-right: 2px solid var(--c-white);
}
.cair:hover {
  text-shadow: 0px 0px 6px rgb(189, 6, 6);
  box-shadow: 0px 5px 60px -20px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
.new-york {
  width: 25%;
  background-color: #99cc99;
  border-right: 2px solid var(--c-white);
}
.new-york:hover {
  text-shadow: 0px 0px 6px rgb(189, 6, 6);
  box-shadow: 0px 5px 60px -20px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.new-dehli {
  width: 25%;
  background-color: #669999;
  border-right: 2px solid var(--c-white);
}
.new-dehli:hover {
  text-shadow: 0px 0px 6px rgb(189, 6, 6);
  box-shadow: 0px 5px 60px -20px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.san-francisco {
  width: 50%;
  background-color: #cc6699;
  border-right: 2px solid var(--c-white);
}
.san-francisco:hover {
  text-shadow: 0px 0px 6px rgb(189, 6, 6);
  box-shadow: 0px 5px 60px -20px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.tokyo {
  width: 25%;
  background-color: #339966;
  border-right: 2px solid var(--c-white);
}
.tokyo:hover {
  text-shadow: 0px 0px 6px rgb(189, 6, 6);
  box-shadow: 0px 5px 60px -20px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}


.sydney {
  width: 100%;
  background-color: #666699;
  border-right: 2px solid var(--c-white);
}
.sydney:hover {
  text-shadow: 0px 0px 6px rgb(189, 6, 6);
  box-shadow: 0px 5px 60px -20px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.text {
  margin-bottom: 120px;
}