/* * Global  */
* {
  /* TODO -< Remove */
 /* border: 1px solid red;*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: var(--c-primary);
  color: var(--c-white);
}

body {
  background-color: var(--c-white);
  font-family: var(--f-base);
  font-size: var(--fs-base);
  color: var(--c-black);
  min-height: 100vh;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  cursor: default;
  margin-top: 0;
}

h1 {
  line-height: 54px;
  font-size: 2.75em;
}

h2 {
  line-height: 44px;
  font-size: 2em;
}

h4 {
  line-height: 44px;
  font-size: 1em;
}

p {
  cursor: default;
}

/* * Helpers */
.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1230px;
  margin: 0 auto;
  width: 100%;
}

.link {
  transition: var(--t-normal);
  color: var(--c-black);
}

.link:hover {
  color: var(--c-primary);
}
