:root {
  /* * Colors */
  --c-white: #ffffff;
  --c-dark-violet: #16133d;
  --c-light-grey: #7690a8;
  --c-green: #3db370;
  --c-dark-grey: #e5eaf4;
  --c-extra-dark-grey: #efeef3;
  --c-black: #0d0d0d;

  /* * Fonts */
  --f-main: "Roboto";
  --f-logo: "Quicksand";
  --f-title: "Nunito Sans";
}
